[alias]
	st = status -sb
	flg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	lg = log -n 10 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[user]
	name = Cooper Essary
	email = cooper.essary@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
